meta:
  version: 0.2.3
  name: slack-sink
  type: http-sink
  topic: http-sink
http:
  endpoint: "https://httpbin.org/post"
  http_request_timeout: 1s
  http_connect_timeout: 15s
  url_parameters: 
    - record_key: id
      url_key: sql_condition
      prefix: "user_id = "
