[workspace]
members = [
    "crates/http-sink",
    "crates/tiny-http-server",
]
resolver = "2"

[profile.release-lto]
inherits = "release"
lto = true

[workspace.dependencies]
fluvio = { git = "https://github.com/infinyon/fluvio", tag = "v0.10.12"}
fluvio-connector-common = { git = "https://github.com/infinyon/fluvio", tag = "v0.10.13"}
fluvio-smartmodule = { git = "https://github.com/infinyon/fluvio.git", tag = "v0.10.12" }
