name: CI

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "**"
      - "!/*.md"
      - "!/**.md"

jobs:
  check:
    name: Rust Check - ${{ matrix.check }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        rust:
          - stable
        rust-target:
          - x86_64-unknown-linux-musl
        check:
          - test
          - check
          - fmt
          - clippy
    env:
      RUST_BACKTRACE: full
      RUSTV: ${{ matrix.rust }}
      TARGET: ${{ matrix.rust-target }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.rust-target }}-${{ matrix.check }}
      - name: Cargo test
        if: ${{ matrix.check == 'test' }}
        run: |
          cargo test
      - name: Cargo check
        if: ${{ matrix.check == 'check' }}
        run: |
          cargo check --all-targets

      - name: Cargo fmt
        if: ${{ matrix.check == 'fmt' }}
        run: cargo fmt -- --check

      - name: Cargo clippy
        if: ${{ matrix.check == 'clippy' }}
        run: cargo clippy --all-targets -- -D warnings

  integration_tests:
    name: Integration Testing on ${{ matrix.os }} for ${{ matrix.connector-name }} connector.
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        rust:
          - stable
        connector-name:
          - http-sink
    env:
      RUST_BACKTRACE: full

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Install musl-tools
        run: |
          set -ex
          sudo apt-get update
          sudo apt-get install -y musl-tools

      - name: Install Fluvio Local Cluster
        timeout-minutes: 10
        uses: infinyon/fluvio@master
        with:
          cluster-type: local
      - name: Setup Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.rust-target }}-${{ matrix.check }}-integration

      - name: Check Fluvio Installation
        run: make test_fluvio_install

      - name: Install Rust ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: x86_64-unknown-linux-musl

      - name: Build Connector
        run: cdk build -p http-sink --target x86_64-unknown-linux-musl

      - name: Build Tiny HTTP Server
        run: cargo build --bin tiny-http-server

      - name: Setup BATS
        uses: mig4/setup-bats@v1

      - name: Run Tests
        timeout-minutes: 5
        run: make test

      - name: Run diagnostics
        if: ${{ !success() }}
        timeout-minutes: 5
        run: fluvio cluster diagnostics

      - name: Upload diagnostics
        uses: actions/upload-artifact@v4
        timeout-minutes: 5
        if: ${{ !success() }}
        with:
          name: integration_${{ matrix.connector-name }}
          path: diagnostics*.gz
          retention-days: 5
  done:
    name: Done
    needs:
      - check
      - integration_tests
    runs-on: ubuntu-latest
    steps:
      - name: Done
        run: echo "Done!"
